
#Ignore the data and predictions
*.csv
#data/
#This time do not ignore this specific file inside data
!data/METLIN_IMS_dimers_rmTM.csv

#Ignore trained models
train_example/
*.pt
__pycache__/

#Ignore generated plots
*.png

#Ignore PyTorch Lightning logs
logs/

#Ignore PyTorch Lightning checkpoints and Optuna temporary weights
optuna_temp/
logs/
*.ckpt

